:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-padding-top: 64px; /* Isso ajuda com links de âncora */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  /* O padding-top pode estar aqui ou no container principal da aplicação */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main, 
[role="main"], 
.content,
.page-content {
  /* Não mais necessário adicionar padding-top para compensar um header fixo */
  min-height: calc(100vh - 64px); /* Altura de viewport menos altura do header */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
